.gradle
.idea
build
*.db
.DS_Store
out
*.log
site
docker/wallet
docker/pgdata
venv/
logs
/openshift/templates/add_dockerhub_secret.sh
/openshift/templates/add_coba_secret.sh
/openshift/templates/.env_coba
/openshift/templates/controller.cloud.lissi-test.dltlab.de
/openshift/templates/didcomm-agent.cloud.lissi-test.dltlab.de
/openshift/templates/admin.cloud.lissi-test.dltlab.de
